.container{
  position: relative;
  text-align: center;
  color: white;
}

.txt{
  margin-top: 10%;
}

img{
  height: 833px;
}

.footer{
  padding-top: 15%;
}

@media only screen and (max-width: 600px){
  img{
    height: 666px;
  }

  .footer{
    padding-top: 60%;
  }
}